:root {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  color: white;
  background-color: #030615;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

#root {
  min-height: 100vh;
  display: flex;
  position: relative;
}

.imgContainer {
  display: flex;
  flex-direction: column;
  max-height: 100vh;
  width: 100%;
}

.bgImage {
  width: 100%;
  height: 100%;
  flex: 1;
  object-fit: cover;
}

footer {
  position: fixed;
  bottom: 0;
  left: 0;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 1rem;
}

footer div {
  display: flex;
  flex-direction: column;
}

footer div h2 {
  font-size: 1.4rem;
}

footer div h1 {
  font-size: 0.9rem;
  font-weight: 200;
}

footer button {
  background: transparent;
  color: white;
  padding: 1rem;
  border: none;
  outline: none;
  border-radius: 10px;
  cursor: pointer;
  transition-duration: 200ms;
}

footer button i {
  font-size: 1.3rem;
}

footer button:hover {
  background: rgba(0, 0, 0, 0.4);
}

footer button:active {
  background: rgba(0, 0, 0, 0.7);
}

.bgGradient {
  position: absolute;
  inset: 0;
  z-index: -1;
  background: linear-gradient(to top, #030615, rgba(255, 255, 255, 0));
}

.sidebar {
  position: fixed;
  inset: 0;
  display: flex;
  flex-direction: column;
  z-index: 10;
}

.bgOverlay {
  position: absolute;
  inset: 0;
  background: #030615;
  opacity: 0.3;
}

.sidebarContents {
  z-index: 15;
  position: relative;
  height: 100%;
  width: 90%;
  max-width: 800px;
  display: flex;
  flex-direction: column;
  gap: 1rem;
  padding: 1rem;
  margin-left: auto;
  overflow-y: scroll;
  background: #030615;
}

.sidebarContents {
  text-align: center;
}

.sidebarContents div {
  flex: 1;
}

.sidebarContents .date {
  font-size: 20px;
}

.sidebarContents button {
  background: transparent;
  color: white;
  border: none;
  outline: none;
  padding: 10px;
  border-radius: 5px;
  margin-right: auto;
  cursor: pointer;
}

.sidebarContents button:hover {
  border: 1px solid whitesmoke;
}

.sidebarContents button:active {
  border: 1px solid whitesmoke;
  background: #37383e;
}

.loadingState {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.loadingState i {
  font-size: 2rem;
  animation: spin 1s linear infinite;
}

@keyframes spin {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

@media (min-height: 640px) {
  .sidebar {
    position: relative;
    inset: unset;
    min-width: 30%;
    max-height: 100%;
    box-shadow: 0px 40px 1px #030615;
  }

  .sidebarContents {
    margin: unset;
    padding: 1rem;
    width: 100%;
  }

  .bgOverlay {
    right: 0;
    left: unset;
    width: 100vw;
  }
}
